<div class="container pt-5">
  <%= simple_form_for(@list) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs mt-5 w-50">
      <%= f.input :name, class:"mt-5 w-60" %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class:"btn btn-dark w-50" %>
    </div>
  <% end %>

<hr>
<%= link_to "All lists", lists_path(@lists) %>

</div>
