<div class="container mt-5">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>List:</strong>
    <%= @list.name %>
  </p>

  <p>
    <strong>Movies:</strong>
      <% @list.bookmarks.each do |bookmark| %>
        <ul>
          <li>
            <%= "#{bookmark.movie.title}   --------   #{bookmark.comment}" %>
          </li>
        </ul>
      <% end %>
  </p>

<hr>
  <%= link_to "Add movie", new_list_bookmark_path(@list), class:"btn btn-dark" %>

  <hr>
  <%= link_to "All lists", lists_path(@lists), class:"btn btn-dark" %>
</div>
<%# A user can see the details of a given list and its name
GET "lists/42" %>
