<div class="container mt-5">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>List:</strong>
    <% if @list.photo.attached? %>
        <div class="card-category" style="background-image: url('<% cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>')">
          <%= @list.name %>
        </div>
        <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
  </p>

  <p>
    <strong>Movies:</strong>
      <% @list.bookmarks.each do |bookmark| %>
        <ul>
          <li>
            <%= "#{bookmark.movie.title}   --------   #{bookmark.comment}" %>
            <%= link_to "Delete this movie", bookmark_path(bookmark), method: :delete, class: 'btn btn-dark', data: { confirm: 'Are you sure you want to delete this list?' } %>
          </li>
        </ul>
      <% end %>
  </p>

<hr>
  <%= link_to "Add movie", new_list_bookmark_path(@list), class:"btn btn-dark" %>


  <hr>
<%= link_to "All lists", root_path, class:"btn btn-dark" %>
</div>
<%# A user can see the details of a given list and its name
GET "lists/42" %>
